.links {
  $padding: 1px;
  &__form {
    position: relative;
    padding-right: $padding;
  }

  &__new-task {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    &:focus-visible {
      border: 1px green solid;
      outline: none;
    }
  }
}
